@page "/"

<h1>Starbucks</h1>

Brewed for those who love Coffee. You're a sip away from GOLD.

<br />
<div class="row">
    <div class="col-10">
         <table class="table">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Titlee</th>
                        <th>Description</th>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>

         </table>
    </div>
</div>